html {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    background-color: #b1e731;
}

h1 {
    font-size: 60px;
    margin: 0;
    padding: 20px 0;
    color: #f532a4;
    text-shadow: 3px 3px 1px black;
}
 
body {
    width: 400px;
    margin: 0 auto;
    background-color: #510ccf;
    padding: 5px 20px 20px 20px;
    border: 3px solid black;
}

.anchor {
    font-size: 16px;
    margin: 0;
    padding: 20px 0;
    color: #555a12;
}