html {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    background-color: #a4ecd1;
}

h1 {
    font-size: 60px;
    margin: 0;
    padding: 20px 0;
    color: #6c8faf;
    text-shadow: 3px 3px 1px rgb(70, 26, 26);
}
 
body {
    width: 600px;
    margin: 0 auto;
    background-color: #8a4f67;
    padding: 5px 20px 20px 20px;
    border: 3px solid black;
}

.anchor {
    font-size: 16px;
    margin: 0;
    padding: 20px 0;
    color: #555a12;
}